@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper .sidebar{
  width: 150px;
  height: 100%;
  background: black;
  padding: 10px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 100px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 2px solid black;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  border-top: 2px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: white;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: grey;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 25px;
  background: greenyellow;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}
.wrapper .main_content .info div{
  margin-bottom: 20px;
}
.one {
    background-color: fed049;
    text-align: center;
    padding-right: 20%;
    padding-top: 10%;
    color: white;
}
.two {
    background-color: 007580;
    padding-right: 20%;
    padding-top: 10%;
}
hr{
    border-style:none;
    border-color: white;
    border-top-style: groove;
    border-width: 5px;
    text-align: center;
}
body{
    background-image: url('two.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover; 
 }
 .btn {
    background: black;
    background-image: -webkit-linear-gradient(top, black, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .lin:hover{
    background-color: black;
    border-radius: 50%;
}
